/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Arial", sans-serif;
}

body {
  line-height: 1.6;
  color: #333;
  width: 1000px;
}

/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 40px;
  background: #fff;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.logo {
  font-size: 22px;
  font-weight: bold;
  color: #ff5a3c;
}

.search {
  width: 300px;
  padding: 8px;
  border-radius: 6px;
  border: 1px solid #ccc;
}

.nav-links {
  display: flex;
  gap: 20px;
  list-style: none;
}

.nav-links a {
  text-decoration: none;
  color: #333;
  font-weight: 500;
}

.btn-login {
  background: #ff5a3c;
  color: #fff;
  padding: 6px 12px;
  border-radius: 6px;
}

/* Hero */
.hero {
  position: relative;
  background: url('https://statics.vinpearl.com/international-travel-0_1684821084.jpg') no-repeat center center/cover;
  height: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-radius: 20px;
  width: 1000px;
}

.overlay {
  position: absolute;
  inset: 0;
  background: rgba(0,0,0,0.4);
}

.hero-content {
  position: relative;
  color: #fff;
  z-index: 2;
}

.hero h1 {
  font-size: 48px;
  margin-bottom: 15px;
}

.hero p {
  margin-bottom: 20px;
}

.search-box {
  display: flex;
  gap: 10px;
  background: #fff;
  padding: 10px;
  border-radius: 10px;
}

.search-box input,
.search-box select {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 6px;
}

.search-box button {
  background: #ff5a3c;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

/* Features */
.features {
  padding: 60px 40px;
  text-align: center;
}

.features h2 {
  margin-bottom: 30px;
  font-size: 28px;
}

.feature-box {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

.feature-box div {
  background: #f9f9f9;
  padding: 20px;
  border-radius: 10px;
}

.feature-box h3 {
  margin-bottom: 10px;
  color: #ff5a3c;
}

/* Destinations */
.destinations {
  padding: 60px 40px;
  text-align: center;
}

.dest-grid {
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

.dest-item img {
  width: 100%;
  border-radius: 50%;
  height: 150px;
  object-fit: cover;
}

.dest-item p {
  margin-top: 10px;
  font-weight: bold;
}
.dest-item span {
  color: gray;
  font-size: 14px;
}
